## 3. Import the required packages with their customary aliases as follows:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns

In [2]:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns

## 4. Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [4]:
%matplotlib inline

## 5. Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [24]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
print(gdp_df[:7])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

## 6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [23]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
print(internet_df[:7])

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN
6     Afghanistan  2008  1.840000              NaN

## 7. Look at the shape of each DataFrame - how many rows? How many columns?

In [31]:
gdp_shape = gdp_df.shape
print(gdp_shape)

(6868, 4)

In [32]:
internet_shape = internet_df.shape
print(internet_shape)

(4495, 4)

## 8. Take a look at the datatypes for the columns in each DataFrame

#### This was recommended by Abi because it gives you more information and takes up less space (if I remember correctly)

In [64]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6868 non-null   object
 1   Year             6868 non-null   int64
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.8+ KB

#### This is another way to get datatypes for the columns in a dataframe.

In [66]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

## 9. Take a look at the last 10 rows of each DataFrame in turn.

In [70]:
print(gdp_df[-11:-1])

     Country or Area  Year        Value  Value Footnotes
6857        Zimbabwe  2000  3473.429801              NaN
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN

In [71]:
print(internet_df[-11:-1])

     Country or Area  Year     Value  Value Footnotes
4484        Zimbabwe  2003  6.394786              NaN
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN

## 10. Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [72]:
gdp_df.pop('Value Footnotes')
internet_df.pop('Value Footnotes')

print(gdp_df)
print(internet_df)

     Country or Area  Year        Value
0        Afghanistan  2019  2065.036398
1        Afghanistan  2018  2033.779002
2        Afghanistan  2017  2058.383832
3        Afghanistan  2016  2057.062164
4        Afghanistan  2015  2068.265904
...              ...   ...          ...
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

[6868 rows x 3 columns]
     Country or Area  Year     Value
0        Afghanistan  2014  6.390000
1        Afghanistan  2013  5.900000
2        Afghanistan  2012  5.454545
3        Afghanistan  2011  5.000000
4        Afghanistan  2010  4.000000
...              ...   ...       ...
4490        Zimbabwe  1997  0.033080
4491        Zimbabwe  1996  0.016790
4492        Zimbabwe  1995  0.007684
4493        Zimbabwe  1994  0.001739
4494        Zimbabwe  1990  0.000000

[4495 rows x 3 columns]

## 11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [89]:
gdp_df.rename({'Value':'GDP_Per_Capita'}, axis = 1, inplace = True)
print(gdp_df)

     Country or Area  Year  GDP_Per_Capita
0        Afghanistan  2019     2065.036398
1        Afghanistan  2018     2033.779002
2        Afghanistan  2017     2058.383832
3        Afghanistan  2016     2057.062164
4        Afghanistan  2015     2068.265904
...              ...   ...             ...
6863        Zimbabwe  1994     3263.934978
6864        Zimbabwe  1993     3033.504852
6865        Zimbabwe  1992     3054.889178
6866        Zimbabwe  1991     3426.598094
6867        Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

## 12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [90]:
internet_df.rename({'Value':'Internet_Users_Pct'}, axis = 1, inplace = True)
print(internet_df)

     Country or Area  Year  Internet_Users_Pct
0        Afghanistan  2014            6.390000
1        Afghanistan  2013            5.900000
2        Afghanistan  2012            5.454545
3        Afghanistan  2011            5.000000
4        Afghanistan  2010            4.000000
...              ...   ...                 ...
4490        Zimbabwe  1997            0.033080
4491        Zimbabwe  1996            0.016790
4492        Zimbabwe  1995            0.007684
4493        Zimbabwe  1994            0.001739
4494        Zimbabwe  1990            0.000000

[4495 rows x 3 columns]

## 13. Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

In [93]:
gdp_and_internet_use = pd.merge(gdp_df, internet_df)
print(gdp_and_internet_use)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
0        Afghanistan  2014     2102.385234            6.390000
1        Afghanistan  2013     2116.465454            5.900000
2        Afghanistan  2012     2075.491747            5.454545
3        Afghanistan  2011     1904.559799            5.000000
4        Afghanistan  2010     1957.029338            4.000000
...              ...   ...             ...                 ...
3453        Zimbabwe  1997     3580.048793            0.033080
3454        Zimbabwe  1996     3520.430146            0.016790
3455        Zimbabwe  1995     3226.413930            0.007684
3456        Zimbabwe  1994     3263.934978            0.001739
3457        Zimbabwe  1990     3324.348171            0.000000

[3458 rows x 4 columns]

## 14. Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [105]:
gdp_and_internet_use.head(5)

  Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
0     Afghanistan  2014     2102.385234            6.390000
1     Afghanistan  2013     2116.465454            5.900000
2     Afghanistan  2012     2075.491747            5.454545
3     Afghanistan  2011     1904.559799            5.000000
4     Afghanistan  2010     1957.029338            4.000000

## 15. Look at the last five rows to make sure the data is clean and as expected.

In [104]:
gdp_and_internet_use.tail(5)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
3453        Zimbabwe  1997     3580.048793            0.033080
3454        Zimbabwe  1996     3520.430146            0.016790
3455        Zimbabwe  1995     3226.413930            0.007684
3456        Zimbabwe  1994     3263.934978            0.001739
3457        Zimbabwe  1990     3324.348171            0.000000

## 16. Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [157]:
subset = gdp_and_internet_use[gdp_and_internet_use['Year'].isin([2004,2009,2014])]
print(subset)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
0        Afghanistan  2014     2102.385234            6.390000
5        Afghanistan  2009     1758.904043            3.550000
10       Afghanistan  2004     1200.278256            0.105809
13           Albania  2014    11623.866679           60.100000
18           Albania  2009    10346.864199           41.200000
...              ...   ...             ...                 ...
3419          Zambia  2009     2917.516220            6.310000
3424          Zambia  2004     2261.766537            2.013550
3436        Zimbabwe  2014     2955.240287           19.890000
3441        Zimbabwe  2009     1925.364381           11.360000
3446        Zimbabwe  2004     2480.859342            6.564045

[482 rows x 4 columns]

## 17. Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.

In [158]:
df_2004 = pd.DataFrame(gdp_and_internet_use[gdp_and_internet_use['Year'].isin([2004])])
df_2009 = pd.DataFrame(gdp_and_internet_use[gdp_and_internet_use['Year'].isin([2009])])
df_2014 = pd.DataFrame(gdp_and_internet_use[gdp_and_internet_use['Year'].isin([2014])])

print(df_2004)
print(df_2009)
print(df_2014)

          Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
10            Afghanistan  2004     1200.278256            0.105809
23                Albania  2004     7604.838002            2.420388
44                Algeria  2004    10058.435939            4.634475
66                 Angola  2004     5593.241537            0.464815
86    Antigua and Barbuda  2004    18745.681534           24.266544
...                   ...   ...             ...                 ...
3361              Uruguay  2004    12479.966871           17.063098
3383           Uzbekistan  2004     3221.189333            2.593725
3404              Vanuatu  2004     2792.356252            4.746603
3424               Zambia  2004     2261.766537            2.013550
3446             Zimbabwe  2004     2480.859342            6.564045

[157 rows x 4 columns]
          Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
5             Afghanistan  2009     1758.904043            3.550000
18                Albania  2009    10346.864199           41.200000
39                Algeria  2009    10782.361398           11.230000
61                 Angola  2009     7643.493749            6.000000
81    Antigua and Barbuda  2009    20046.839017           42.000000
...                   ...   ...             ...                 ...
3356              Uruguay  2009    16477.823860           41.800000
3378           Uzbekistan  2009     4446.863606           17.058216
3399              Vanuatu  2009     3270.529800            7.500000
3419               Zambia  2009     2917.516220            6.310000
3441             Zimbabwe  2009     1925.364381           11.360000

[162 rows x 4 columns]
          Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
0             Afghanistan  2014     2102.385234                6.39
13                Albania  2014    11623.866679               60.10
34                Algeria  2014    11512.705405               18.09
56                 Angola  2014     8239.828837               21.26
76    Antigua and Barbuda  2014    18104.241470               64.00
...                   ...   ...             ...                 ...
3351              Uruguay  2014    20582.168953               61.46
3373           Uzbekistan  2014     5764.492705               43.55
3394              Vanuatu  2014     3116.077025               18.80
3414               Zambia  2014     3450.046561               17.34
3436             Zimbabwe  2014     2955.240287               19.89

[163 rows x 4 columns]

## 18. Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options).

##### Below is a way to answer both 18 and 19 at the same time, but I think we were suppose to use min/max functions.

In [180]:
sorted_df = df_2014.sort_values(by='Internet_Users_Pct')
print(sorted_df)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
3087     Timor-Leste  2014     3264.568070                1.14
540          Burundi  2014      886.235777                1.38
1261          Guinea  2014     2061.760973                1.72
2256           Niger  2014     1127.615541                1.95
2728    Sierra Leone  2014     1997.511853                2.10
...              ...   ...             ...                 ...
1798      Luxembourg  2014   108760.916030               94.67
854          Denmark  2014    52214.537753               95.99
2296          Norway  2014    62589.373548               96.30
372          Bermuda  2014    77361.104881               96.80
1381         Iceland  2014    49652.149500               98.16

[163 rows x 4 columns]

##### Below is the use of 'max' function

In [176]:
max_IU = max(df_2014['Internet_Users_Pct'])
top_country = df_2014[df_2014['Internet_Users_Pct'].isin([max_IU])]
print(top_country)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
1381         Iceland  2014      49652.1495               98.16

## 19. Which country had the lowest percentage of internet users in 2014? What was the percentage?

#### Below is the use of the 'min' function

In [181]:
min_IU = min(df_2014['Internet_Users_Pct'])
bottom_country = df_2014[df_2014['Internet_Users_Pct'].isin([min_IU])]
print(bottom_country)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
3087     Timor-Leste  2014      3264.56807                1.14

## 20. Repeat for 2004 and 2009.

#### 2004

In [190]:
sorted_df = df_2004.sort_values(by='Internet_Users_Pct')
index = sorted_df.index
index.name = 'Bottom Country'
print(sorted_df.head(1))

index.name = 'Top Country'
print(sorted_df.tail(1))

               Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
Bottom Country
2132                   Myanmar  2004      1696.88176            0.024337
            Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
Top Country
2985                 Sweden  2004    44496.023401               83.89

#### 2009

In [191]:
sorted_df = df_2009.sort_values(by='Internet_Users_Pct')
index = sorted_df.index
index.name = 'Bottom Country'
print(sorted_df.head(1))

index.name = 'Top Country'
print(sorted_df.tail(1))

               Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
Bottom Country
3092               Timor-Leste  2009     2724.770973            0.185252
            Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
Top Country
1386                Iceland  2009    48177.084123                93.0

## 21. Which country had the highest gdp per capita in 2014? What was the gdp per capita?

In [194]:
sorted_df = df_2014.sort_values(by='GDP_Per_Capita')
index = sorted_df.index
index.name = 'Top Country'
print(sorted_df.tail(1))

            Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
Top Country
1798             Luxembourg  2014    108760.91603               94.67

## 22. Which country had the lowest gdp per capita in 2014? What was the gdp per capita?

In [195]:
sorted_df = df_2014.sort_values(by='GDP_Per_Capita')
index = sorted_df.index
index.name = 'Bottom Country'
print(sorted_df.head(1))

               Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
Bottom Country
540                    Burundi  2014      886.235777                1.38

## 23. Create some scatterplots:

### a. 2004 Percent Using the Internet vs GDP Per Capita

### b. 2009 Percent Using the Internet vs GDP Per Capita

### c. 2014 Percent Using the Internet vs GDP Per Capita