## 3. Import the required packages with their customary aliases as follows:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns

In [2]:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns

## 4. Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [4]:
%matplotlib inline

## 5. Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [24]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
print(gdp_df[:7])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

## 6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [23]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
print(internet_df[:7])

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN
6     Afghanistan  2008  1.840000              NaN

## 7. Look at the shape of each DataFrame - how many rows? How many columns?

In [31]:
gdp_shape = gdp_df.shape
print(gdp_shape)

(6868, 4)

In [32]:
internet_shape = internet_df.shape
print(internet_shape)

(4495, 4)

## 8. Take a look at the datatypes for the columns in each DataFrame

In [45]:
print(type(gdp_df('Country or Area','Year','Value', 'Value Footnotes')))

TypeError: 'DataFrame' object is not callable