## 3. Import the required packages with their customary aliases as follows:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns

In [2]:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns

## 4. Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [4]:
%matplotlib inline

## 5. Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [24]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
print(gdp_df[:7])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

## 6. Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [23]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
print(internet_df[:7])

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN
6     Afghanistan  2008  1.840000              NaN

## 7. Look at the shape of each DataFrame - how many rows? How many columns?

In [31]:
gdp_shape = gdp_df.shape
print(gdp_shape)

(6868, 4)

In [32]:
internet_shape = internet_df.shape
print(internet_shape)

(4495, 4)

## 8. Take a look at the datatypes for the columns in each DataFrame

#### This was recommended by Abi because it gives you more information and takes up less space (if I remember correctly)

In [64]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6868 non-null   object
 1   Year             6868 non-null   int64
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.8+ KB

#### This is another way to get datatypes for the columns in a dataframe.

In [66]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

## 9. Take a look at the last 10 rows of each DataFrame in turn.

In [70]:
print(gdp_df[-11:-1])

     Country or Area  Year        Value  Value Footnotes
6857        Zimbabwe  2000  3473.429801              NaN
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN

In [71]:
print(internet_df[-11:-1])

     Country or Area  Year     Value  Value Footnotes
4484        Zimbabwe  2003  6.394786              NaN
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN

## 10. Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [72]:
gdp_df.pop('Value Footnotes')
internet_df.pop('Value Footnotes')

print(gdp_df)
print(internet_df)

     Country or Area  Year        Value
0        Afghanistan  2019  2065.036398
1        Afghanistan  2018  2033.779002
2        Afghanistan  2017  2058.383832
3        Afghanistan  2016  2057.062164
4        Afghanistan  2015  2068.265904
...              ...   ...          ...
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

[6868 rows x 3 columns]
     Country or Area  Year     Value
0        Afghanistan  2014  6.390000
1        Afghanistan  2013  5.900000
2        Afghanistan  2012  5.454545
3        Afghanistan  2011  5.000000
4        Afghanistan  2010  4.000000
...              ...   ...       ...
4490        Zimbabwe  1997  0.033080
4491        Zimbabwe  1996  0.016790
4492        Zimbabwe  1995  0.007684
4493        Zimbabwe  1994  0.001739
4494        Zimbabwe  1990  0.000000

[4495 rows x 3 columns]

## 11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [89]:
gdp_df.rename({'Value':'GDP_Per_Capita'}, axis = 1, inplace = True)
print(gdp_df)

     Country or Area  Year  GDP_Per_Capita
0        Afghanistan  2019     2065.036398
1        Afghanistan  2018     2033.779002
2        Afghanistan  2017     2058.383832
3        Afghanistan  2016     2057.062164
4        Afghanistan  2015     2068.265904
...              ...   ...             ...
6863        Zimbabwe  1994     3263.934978
6864        Zimbabwe  1993     3033.504852
6865        Zimbabwe  1992     3054.889178
6866        Zimbabwe  1991     3426.598094
6867        Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

## 12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [90]:
internet_df.rename({'Value':'Internet_Users_Pct'}, axis = 1, inplace = True)
print(internet_df)

     Country or Area  Year  Internet_Users_Pct
0        Afghanistan  2014            6.390000
1        Afghanistan  2013            5.900000
2        Afghanistan  2012            5.454545
3        Afghanistan  2011            5.000000
4        Afghanistan  2010            4.000000
...              ...   ...                 ...
4490        Zimbabwe  1997            0.033080
4491        Zimbabwe  1996            0.016790
4492        Zimbabwe  1995            0.007684
4493        Zimbabwe  1994            0.001739
4494        Zimbabwe  1990            0.000000

[4495 rows x 3 columns]

## 13. Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

In [93]:
gdp_and_internet_use = pd.merge(gdp_df, internet_df)
print(gdp_and_internet_use)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
0        Afghanistan  2014     2102.385234            6.390000
1        Afghanistan  2013     2116.465454            5.900000
2        Afghanistan  2012     2075.491747            5.454545
3        Afghanistan  2011     1904.559799            5.000000
4        Afghanistan  2010     1957.029338            4.000000
...              ...   ...             ...                 ...
3453        Zimbabwe  1997     3580.048793            0.033080
3454        Zimbabwe  1996     3520.430146            0.016790
3455        Zimbabwe  1995     3226.413930            0.007684
3456        Zimbabwe  1994     3263.934978            0.001739
3457        Zimbabwe  1990     3324.348171            0.000000

[3458 rows x 4 columns]

## 14. Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [105]:
gdp_and_internet_use.head(5)

  Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
0     Afghanistan  2014     2102.385234            6.390000
1     Afghanistan  2013     2116.465454            5.900000
2     Afghanistan  2012     2075.491747            5.454545
3     Afghanistan  2011     1904.559799            5.000000
4     Afghanistan  2010     1957.029338            4.000000

## 15. Look at the last five rows to make sure the data is clean and as expected.

In [104]:
gdp_and_internet_use.tail(5)

     Country or Area  Year  GDP_Per_Capita  Internet_Users_Pct
3453        Zimbabwe  1997     3580.048793            0.033080
3454        Zimbabwe  1996     3520.430146            0.016790
3455        Zimbabwe  1995     3226.413930            0.007684
3456        Zimbabwe  1994     3263.934978            0.001739
3457        Zimbabwe  1990     3324.348171            0.000000

## 16. Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [138]:
gdp_and_internet_use_subset = gdp_and_internet_use.loc[:,['Country or Area',['Year' == 2004 or 2009 or 2014],'GDP_Per_Capita','Internet_Users_Pct']]
print(gdp_and_internet_use_subset)

C:\Users\hanna\anaconda3\lib\site-packages\pandas\core\common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

TypeError: unhashable type: 'list'